.wrapper{
	background:#e1e2e3;
	margin-left:0px;
	height:600px;
	padding-top:33px;
	padding-left:70px;
}
.p-image img{width:320px;height:500px;}
.p-content{
	background:#fff;
	height:500px;
	margin:0 100px;
	padding-left: :0px;
}
/* judul content */
.b-sub{float:left;font-weight:bold;font-size:18px;font-family:'Crimson Text', serif;}
/* sub content */
.b-sub-2{clear:both;color:grey;}
.b-sub-2{font-size:16px;font-family:'inconsolata' serif;font-style: italic;}

.w3-panel{padding:0.8em 30px; background:#e1e2e3;}
.w3-panel{margin-top:50px;margin-bottom:16px;margin-left:-10px;}
.w3-leftbar{
	border-left:4px solid #4d90fe;}
.w3-light-grey{
	height:auto;
	font-size:26px;
	line-height: normal;
}